.tree-node.copied {
  background-image: linear-gradient(90deg, #999999 50%, transparent 50%), linear-gradient(90deg, #999999 50%, transparent 50%), linear-gradient(0deg, #999999 50%, transparent 50%), linear-gradient(0deg, #999999 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
  background-position: left top, right bottom, left bottom, right   top;
  animation: border-dance 1s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}
@media (prefers-reduced-motion) {
  .tree-node.copied {
    animation: none;
  }
}
.name, .template {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name, .title {
  flex-grow: 1;
}
li .status {
  text-align: center;
}
.status.published {
  color: var(--dosgato-green, #689600);
}
.status.modified {
  color: var(--dosgato-yellow, #ffbf28);
}
.status.unpublished {
  color: var(--dosgato-red, #9a3332);
}
.status.deleted {
  color: #555;
}
li .modified span {
  font-size: 0.9em;
}
.modified span.short {
  display: none;
}
[data-eq~="600px"] .modified span.full {
    display: none;
}
[data-eq~="600px"] .modified span.short {
  display: block;
}
[data-eq~="600px"] .modified {
  width: 7em !important;
}
[data-eq~="600px"] .status {
  width: 3.2em !important;
}
[data-eq~="500px"] .template,
[data-eq~="300px"] .title,
[data-eq~="400px"] .modified,
[data-eq~="400px"] .modifiedBy {
  display: none;
}
