.status:not(.deleted) .icon svg {
  width: 1.2em;
  height: 1.2em;
}
.status.published {
  color: var(--dosgato-green, #689600);
}
.status.modified {
  color: var(--dosgato-yellow, #ffbf28);
}
.status.unpublished {
  color: var(--dosgato-red, #9a3332);
}
.status.deleted {
  color: #555;
}
.status.deleted svg {
  margin-left: -0.2em;
}