:root {
  --tree-head-bg: #6c6c6c;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

button.reset {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.tree-node .name, .tree-node .template {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree-node .status {
  text-align: center;
}
.tree-node .status:not(.deleted) .icon svg {
  width: 1.2em;
  height: 1.2em;
}
.tree-node .status.published {
  color: var(--dosgato-green, #689600);
}
.tree-node .status.modified {
  color: var(--dosgato-yellow, #ffbf28);
}
.tree-node .status.unpublished {
  color: var(--dosgato-red, #9a3332);
}
.tree-node .status.deleted {
  color: #555;
}
.tooltip-wrapper {
  display: flex;
  justify-content: center;
}
.tree-node .modified span, .tree-node .modifiedBy {
  font-size: 0.9em;
}
.tree-node .modified span.short {
  display: none;
}
[data-eq~="700px"] .tree-node .modified span.full {
  display: none;
}
[data-eq~="700px"] .tree-node .modified span.short {
  display: block;
}

button.search-find-in-tree {
  position: relative;
  background-color: var(--dg-button-cancel-bg, #808080);
  color: var(--dg-button-cancel-text, white);
  border: 0;
  border-radius: 0.2em;
  padding: 0.4em;
  font-size: 0.85em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button.search-find-in-tree span {
  display: none;
}

.tree-node.selected button.search-find-in-tree span {
  margin-left: 0.2em;
  display: block;
}

.tree-node.selected button.search-find-in-tree {
  background-color: var(--dg-button-bg, #501214);
  color: var(--dg-button-text, white);
  border: 1px solid var(--action-panel-accent, #666666);
}

.tree-search .tree-cell.name .page-name {
  max-width: calc(100% - 1.9em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.tree-search .tree-cell.name .page-path {
  width: 100%;
  font-size: 0.9em;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-search.selected .tree-cell.name .page-name, .tree-search.selected .tree-cell.name .page-path {
  white-space: normal;
  word-break: break-word;
}

[data-eq~="700px"] button.search-find-in-tree span {
  display: none;
}
